
@font-face {
    font-family: LeagueSpartan;
    src: url('LeagueSpartan-Bold.otf');
}


body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'LeagueSpartan', sans-serif;
    
}
nav li {
    padding: 1.8vw 2.5vw;
    font-size: 1.7vw;
    display: inline-flex;
}

nav.navbar ul li a {
    color: white;
    text-decoration: none;
}

nav.navbar ul li a:hover {
    color: aqua;
}
nav.navbar {
    height: 5.5em;
    bottom: 0;
    z-index: 99;
    position: absolute;
    text-shadow: 2px 2px black;
    right: 28%;
    transition: all 1s;
}


nav.sticky {
    position: fixed;
    text-align: right;
    width: 100%;
    background-color:rgb(230, 230, 230);
    text-shadow: 2px 2px rgba(0,0,0,0);
    top: 0;
    right: 0;
    }

nav.sticky ul li a {
    color: rgb(0, 132, 255);
}


nav.sticky ul li a:hover {
    color: rgb(255, 0, 64);
}

.hero-image {
    background-image: url("img/valleytopeak.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white ;
}



.hero-text {
    margin-left: 20%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 1em;
  }

.hero-image .btn {
    display: inline-flex;
    width: 18vw;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    color: white;
    background: rgba(0,0,0,0);
    transition: all 0.3s;
    align-items: center;
  }

.btn:hover {
    background: #00cafd;
    cursor: pointer;
}

.btn img{
    margin-left: 0.5vw;
    transition: all 0.4s;
}

.btn:hover img {
    transform: rotate(90deg);
}

.content {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    
}

.content h1 {
    font-size: 4em;
    color: rgb(65, 64, 64);
    margin: 9vw auto 1vw auto;
    justify-content: center;
    font-family: 'LeagueSpartan', sans-serif;
}

.about {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.work {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
}
.coder-academy {
    margin: 0 5vw;
}
.commsec {
    margin: 0 5vw;
    
}

.about p {
    width: 24em;
    font-size: 1.2em;
    margin: 0 auto;
}

.lang-icons {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 18vw;
    align-items: center;
}

.lang-icons img {
    height: 3vw;
    margin: 0 4vw;    
}

.html {
    transition: 1.5s;
    transition-delay: 0.75s;
}

.css {
    transition: 1.5s;
    transition-delay: 2.25s;
}

.ruby {
    transition: 1.5s;
    transition-delay: 3.75s;
}

.rails {
    transition: 1.5s;    
}

.js {
    transition: 3s;
    transition-delay: 4.5s;
}

.react {
    transition: 1.5s;
    transition-delay: 1.5s;
}

.node {
    transition: 1.5s;
    transition-delay: 3s;
}

.about:hover .lang {
    transform: scale3d(1.7,1.7,1.7) rotate(360deg);
}

.about-bottom {
    background: rgb(226, 226, 226);
    padding: 2vw;
    font-size: 1.5vw;
}
.about-bottom p {
    margin: 2vw;
}

#tagline {
    color: black;
    width: 70%;
    display: inline-block;

}

#outside-coding {
    color:black;
    width: 70%;
    display: inline-block;
}

#outside-coding a{
    text-decoration: none;
    color: rgb(226, 139, 9)
}
.portfolio {
    width: 100%;
    flex-direction: column;
}

.portfolio h2 {
    margin-top: 3vw;
}

.portfolio p {
    font-size: 1.3em;
}

#cafe-app-link {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    font-size: 1em;
}

#cafe-app-link img {
    padding: 0.5vw;
}

.portfolio-pics {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.portfolio-pics img {
    transition: all 0.3s;
}

.portfolio-pics img:hover {
    transform: scale3d(1.7,1.7,1.7);
}

#avengers-link {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    font-size: 1em;
}

.portfolio-text {
    width: 70%;
    justify-content: center;
    display: flex;
    display: inline-block;
}


.portfolio-pics img {
    transition: all 0.3s;
}

.blog {
    width: 100%;
    flex-direction: column;
    display: flex;
    display: block;
}

.blog-posts {
    display: inline-flex;
    font-family: 'Cutive Mono', monospace;
    margin-top: 3vw;
}

.blog-post-one {
    background-image: url('img/page.png');
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin: 0 3vw;
}

.blog-post-two {
    background-image: url('img/page.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin: 0 3vw;
    
}
.blog-posts h3 {
    max-width: 25vw;
    margin: 5vw auto 2vw auto;
    font-size: 2.5vw;
}
.blog-posts h4 {
    max-width: 25vw;
    margin: 1vw auto 2vw auto;
    font-size: 1.5vw;
}

.blog-posts a {
    text-decoration: none;
    color: black;
}

.contact {
    width: 100%;
    flex-direction: column;
    display: flex;
    display: inline-block;
}

.contact p {
    font-size: 1.7em;
    width: 70%; 
    margin: 10vh auto 0 auto;
}

.contact-images {
    padding: 10vh 0;
}

.contact-images img{
    box-sizing: border-box;
    display: inline-flex;
    padding: 1.5vw;
    margin: 0 2vw;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    width: 15vw;
    height: 15vw;
    background-color: rgba(0,0,0,0);
    transition: all 0.3s ease-in-out;
}

.contact-images img:hover {
    border: 1vw solid rgba(0,0,0,0);
    border-radius: 4vw;
    background-color: rgba(0, 255, 255, 0.5)
}

footer {
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.goodbye {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    align-items: center;
    font-size: 1.2em;
}

.copyright {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vw;
    text-align: center;
    font-size: 1.2em;
}

.copyright img {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 400px) {

    .work p {
        max-width: 80vw;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 12px;
    }
    nav.navbar {
        top: 0;
        right: 0;
        height: 10vw;
        width: 100%;
        text-align: left;
        font-size: 9px;
        width: 100%;
    }
    .hero-text {
        margin-left: 20%;
        position: absolute;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 1em;
        background-color: rgba(0,0,0,0.1)
      }
    
      .hero-image .btn {
          display: inline-flex;
          width: 55vw;
          border: 3px solid white;
          border-radius: 5px;
          padding: 0.5em;
          text-align: center;
          font-size: 2em;
          color: white;
          background: rgba(0,0,0,0);
          transition: all 0.3s;
          align-items: center;
      }
    .content h1 {
        margin-top: 8vh;
    }
    .work img {
        height: 30vw;
    }
    .about-bottom {
        font-size: 2.5vw;
    }
    .portfolio-pics {
        flex-direction: column;
        min-height: 120vw;
    }
    .portfolio-pics img {
        max-height: 50vw;
    }
    #cafe-app-link {
        width: 80%;
    }
    #avengers-link {
        width: 80%; 
    }
    .blog-posts {
        flex-direction: column;
    }
    .blog-post-one {
        width: 50vw;
        height: 50vw;
    }
    .blog-post-two {
        width: 50vw;
        height: 50vw;
    }
    .blog-posts h3 {
        max-width: 40vw;
        margin: 10vw auto 2vw auto;
        font-size: 4vw;
    }
    .blog-posts h4 {
        max-width: 40vw;
        margin: 1vw auto 2vw auto;
        font-size: 3vw;
    }
    .contact-images img:hover {
        border: none;
        background-color: none;
    }

    .contact {
        margin-bottom: 10vh;
    }
    footer h4{
        max-width: 80vw;
    }
}

@media screen and (max-width: 800px) {
    nav.navbar {
        top: 0;
        right: 0;
        height: 10vw;
        width: 100%;
        text-align: left;
        font-size: 9px;
        width: 100%;
    }

    .navbar li{
        font-size: 5vw ;
        height: 5vw;
    }
}

@media screen and (max-width: 1000px) {
    .work {
        flex-direction: column;
    }
    .portfolio-pics img:hover {
        transform: scale3d(1.0,1.0,1.0);
    }
    nav.navbar {
        text-align: left;
        height: 8vw;
    }
    .content h1 {
        margin-top: 8vh;
    }

    .contact {
        margin-bottom: 10vh;
    }
    .portfolio-pics {
        flex-direction: column;
        height: 100vw;
    }
}
